canvas {
  border: 1px solid black;
  display: block;
  margin: 0;
  padding: 0;
  cursor: crosshair;
  margin: auto;
}
html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

body {
  margin-top: 100px;
}
